@tailwind base;
@tailwind components;
@tailwind utilities;



.show-product{
    display: none;
}

.show-cart{
    display: block;
}


@media (max-width:420px) {
    .show-product{
        display: block;
    }
    .show-cart{
        display: none;
    }
}